body{
    background-image: url("../images/bg1.jpg");
    background-color: rgb(168, 148, 82);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
  background-color: black;
}

#logo{
  display: inline;
}
.logoimage{
  width: 7%;
  height: 7%;
}

h1 {
  color:whitesmoke;
  font-family: 'GFS Didot', serif;
  font-size: large;
}

.characters{
  color:whitesmoke;
  background-color: rgb(59, 59, 59);
  font-family: 'GFS Didot', serif;
}

a{
  text-decoration: none;
}

a:link {
  color:whitesmoke;
}
a:visited{
  color:whitesmoke
}
a:hover {
  color:burlywood;
}

ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    float: left;  
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  .hometext{
    text-align: right;
    font-family: 'GFS Neohellenic', sans-serif;
  }

  .statue {
    width: 70%;
    height: 70%;
  }

#sketchimage{
  width: 40%;
  height: 40%;
}

h2{
  font-family: 'GFS Didot', serif;
}

h3{
  font-family: 'GFS Neohellenic', sans-serif;
}

  .footer {
    width: 100%;
    height: 100%;
  }